name: Test

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'LICENSE'
      - '.gitignore'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'LICENSE'
      - '.gitignore'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6

      - name: Select Xcode 26.1.1
        run: sudo xcode-select -s /Applications/Xcode_26.1.1.app/Contents/Developer

      - name: Build
        run: swift build

      - name: Run tests
        run: swift test
